[Unit]
Description=TheFileTree HTTP to HTTPS redirection server

[Service]
ExecStart=/home/dom/services/redirect
Restart=on-failure

[Install]
WantedBy=multi-user.target
